<div class="panel panel-default">
<div class="panel-heading"><h3>Users</h3></div>

<table class="table table-striped">
    <thead><tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in filteredUsers">
            <td>{{ user.id}}</td>
            <td>{{ user.name}}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.telephone}}</td>
            <td>{{ user.street}}</td>
            <td>{{ user.city}}</td>
            <td>{{ user.state}}</td>
            <td>{{ user.zip}}</td>
            <td>
                <button class="btn" ng-click="editUser(user.id)">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteCustomer(user.id)">
                <span class="glyphicon  glyphicon-remove-sign"></span>  Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
<ul class="pager" >
    <li class="previous btn-danger"><a href="" ng-click="previous()">Previous</a></li>
    <li class="next btn-default">    <a href="" ng-click="next()">Next</a></li>
</ul>
</div>